@charset "utf-8";

body {
   margin: 0;
   padding: 0;
   font-size: 0.9em !important;
}

ul {
   list-style: none;
   margin: 0 !important;
   padding: 0 !important;
}

a {
   color: black !important;
   text-decoration: none !important;
   cursor: pointer;
}

p {
   margin: 0 !important;
}

.wrap {
}

main {
}

main .container {
   padding: 40px 0;
}

main .container .row {
   justify-content: center;
}

main .container .row .card {
   margin: 10px 10px;
}

/* 포스터 이미지 비율로 인해 안맞는 크기 고정  */
main .container .row .card img {
   height: 400px;
}

footer {
   height: 100px;
   line-height: 100px;
   background-color: #f2f2f2;
}
